<a href="https://colab.research.google.com/github/sadullahmath/Exercise/blob/master/Automating_Data_Preprocessing_Using_Pipelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Automating Data Preprocessing Using Pipelines

In [0]:
import pandas as pd

In [0]:
#Loading data from the GitHub repository to colab notebook
filename = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter15/Dataset/crx.data '

In [43]:
credData = pd.read_csv(filename,sep= ",",header = None, na_values = "?")
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [44]:
# Changing the Classes to 1 & 0
credData.loc[credData[15] == '+ ' , 15] = 1
credData.loc[credData[15] == '- ' , 15] = 0
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [45]:
# Finding number of null values in the data set
credData.isnull().sum()

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

In [0]:
# Dropping all the rows with na values
newcred = credData.dropna(axis = 0)

In [47]:
# Printing the shape of earlier data set and new data set
print(credData.shape)
print(newcred.shape)

(690, 16)
(653, 16)

In [48]:
# Separating X and y variables
X = newcred.loc[:,0:14]
print(X.shape)

y = newcred.loc[:,15]
print(y.shape)

(653, 15)
(653,)

In [49]:
from sklearn.model_selection import train_test_split
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

print(X_train.shape)
print(X_test.shape)

(457, 15)
(196, 15)

In [0]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [0]:
# Pipeline for transforming categorical variables
catTransformer = Pipeline(steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [0]:
# Pipeline for scaling numerical variables
numTransformer = Pipeline(steps=[('scaler', StandardScaler())])

In [53]:
# Printing dtypes for X
X.dtypes

0      object
1     float64
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13    float64
14      int64
dtype: object

In [54]:
# Selecting numerical features
numFeatures = X.select_dtypes(include=['int64', 'float64']).columns
numFeatures

Int64Index([1, 2, 7, 10, 13, 14], dtype='int64')

In [55]:
# Selecting Categorical features
catFeatures = X.select_dtypes(include=['object']).columns
catFeatures

Int64Index([0, 3, 4, 5, 6, 8, 9, 11, 12], dtype='int64')

In [0]:
# Creating the preprocessing engine
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('numeric', numTransformer, numFeatures),
        ('categoric', catTransformer, catFeatures)])

In [57]:
# Transforming the Training data
Xtran_train = pd.DataFrame(preprocessor.fit_transform(X_train))
print(Xtran_train.shape)
Xtran_train.head()

(457, 46)

         0         1         2         3         4   ...   41   42   43   44   45
0  0.105658 -0.444900  1.377002 -0.553206  0.570065  ...  0.0  1.0  1.0  0.0  0.0
1 -1.084238  1.115032 -0.528306 -0.553206 -0.602470  ...  1.0  0.0  1.0  0.0  0.0
2 -0.416675 -0.080916  0.592889 -0.327276 -0.367963  ...  0.0  1.0  1.0  0.0  0.0
3 -0.795428  1.418699 -0.189778 -0.553206 -0.485217  ...  0.0  1.0  1.0  0.0  0.0
4 -1.125497  0.439061 -0.636809 -0.553206 -0.250710  ...  1.0  0.0  1.0  0.0  0.0

[5 rows x 46 columns]

In [58]:
# Transforming Test data
Xtran_test = pd.DataFrame(preprocessor.transform(X_test))
print(Xtran_test.shape)
Xtran_test.head()

(196, 46)

         0         1         2         3         4   ...   41   42   43   44   45
0 -0.059376 -0.531217 -0.623789 -0.553206  0.687319  ...  1.0  0.0  1.0  0.0  0.0
1 -1.063609 -0.878562 -0.600642 -0.327276  0.101051  ...  1.0  0.0  1.0  0.0  0.0
2  0.648620  1.929316  1.847181  0.802371 -0.661097  ...  0.0  1.0  1.0  0.0  0.0
3  2.203242  3.402933  2.245025  2.383877 -1.071485  ...  1.0  0.0  1.0  0.0  0.0
4 -0.451332 -0.644572 -0.612215 -0.553206 -0.485217  ...  1.0  0.0  1.0  0.0  0.0

[5 rows x 46 columns]