<a href="https://colab.research.google.com/github/sadullahmath/Exercise/blob/master/Complete_ML_Workflow_in_a_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Complete ML Workflow in a Pipeline

In [0]:
#Loading data from GitHub repository

filename = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter16/Dataset/processed.cleveland.data'

In [0]:
import pandas as pd

In [3]:
# Loading the data using pandas

heartData = pd.read_csv(filename,sep=",",header = None,na_values = "?")
heartData.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [4]:
heartData.columns = ['age','sex', 'cp', 'trestbps','chol','fbs','restecg', 'thalach','exang','oldpeak','slope','ca','thal','label']
heartData.head()

    age  sex   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  label
0  63.0  1.0  1.0     145.0  233.0  ...      2.3    3.0  0.0   6.0      0
1  67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0      2
2  67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0      1
3  37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0      0
4  41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0      0

[5 rows x 14 columns]

In [5]:
# Changing the Classes to 1 & 0
heartData.loc[heartData['label'] > 0 , 'label'] = 1
heartData.head()

    age  sex   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  label
0  63.0  1.0  1.0     145.0  233.0  ...      2.3    3.0  0.0   6.0      0
1  67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0      1
2  67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0      1
3  37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0      0
4  41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0      0

[5 rows x 14 columns]

In [6]:
# Dropping all the rows with na values
newheart = heartData.dropna(axis = 0)
newheart.shape

(297, 14)

In [7]:
# Separating X and y variables
y = newheart.pop('label')
y.shape

(297,)

In [8]:
X = newheart
X.head()

    age  sex   cp  trestbps   chol  ...  exang  oldpeak  slope   ca  thal
0  63.0  1.0  1.0     145.0  233.0  ...    0.0      2.3    3.0  0.0   6.0
1  67.0  1.0  4.0     160.0  286.0  ...    1.0      1.5    2.0  3.0   3.0
2  67.0  1.0  4.0     120.0  229.0  ...    1.0      2.6    2.0  2.0   7.0
3  37.0  1.0  3.0     130.0  250.0  ...    0.0      3.5    3.0  0.0   3.0
4  41.0  0.0  2.0     130.0  204.0  ...    0.0      1.4    1.0  0.0   3.0

[5 rows x 13 columns]

In [0]:
from sklearn.model_selection import train_test_split

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [0]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
numeric_transformer = Pipeline(steps=[('scaler', StandardScaler())])
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features)])

In [0]:
# Importing necessary libraries
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

In [0]:
# Creating a list of the classifiers
classifiers = [
    KNeighborsClassifier(),     
    RandomForestClassifier(random_state=123),
    AdaBoostClassifier(random_state=123),
    LogisticRegression(random_state=123)
]

In [13]:
# Looping through classifiers to get the best model 
for classifier in classifiers: 
    estimator = Pipeline(steps=[('preprocessor', preprocessor), ('dimred', PCA(10)),  ('classifier',classifier)]) 
    estimator.fit(X_train, y_train)   
    print(classifier) 
    print("model score: %.2f" % estimator.score(X_test, y_test))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')
model score: 0.78
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=123,
                       verbose=0, warm_start=False)
model score: 0.83
AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=123)
model score: 0.72
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=123, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
model score: 0.79

In [0]:
# Creating a pipeline with Logistic Regression
pipe = Pipeline(steps=[('preprocessor', preprocessor), ('dimred', PCA()), ('classifier',LogisticRegression(random_state=123))])

In [0]:
# Defining the parameters as a dictionary
param_grid =  {'dimred__n_components':[10,11,12,13],'classifier__penalty' : ['l1', 'l2'],'classifier__C' : [1,3, 5],'classifier__solver' : ['liblinear']}

In [0]:
from sklearn.model_selection import GridSearchCV
# Fitting the grid search
estimator = GridSearchCV(pipe, cv=10, param_grid=param_grid)

In [17]:
# Fitting the estimator on the training set
estimator.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('preprocessor',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('num',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('scaler',
                                                                                          StandardScaler(copy=True,
                                                                                                         with_mean=True,
                                                                                                         with_std=True))],
                                                                                  verbose=False),
                                                                         Index(['age', 'sex', 'cp', 'trestbps', 'c...
                                                           penalty='l2',
                                                           random_state=123,
                                                           solver='lbfgs',
                                                           tol=0.0001,
                                                           verbose=0,
                                                           warm_start=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'classifier__C': [1, 3, 5],
                         'classifier__penalty': ['l1', 'l2'],
                         'classifier__solver': ['liblinear'],
                         'dimred__n_components': [10, 11, 12, 13]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [18]:
# Printing the best score and best parameters
print("Best: %f using %s" % (estimator.best_score_, estimator.best_params_))

Best: 0.846429 using {'classifier__C': 1, 'classifier__penalty': 'l2', 'classifier__solver': 'liblinear', 'dimred__n_components': 12}

In [0]:
# Predicting with the best estimator
pred = estimator.predict(X_test)

In [20]:
# Printing the classification report
from sklearn.metrics import classification_report
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       0.86      0.82      0.84        51
           1       0.78      0.82      0.80        39

    accuracy                           0.82        90
   macro avg       0.82      0.82      0.82        90
weighted avg       0.82      0.82      0.82        90