<a href="https://colab.research.google.com/github/sadullahmath/Exercise/blob/master/DateManipulating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulating Dates

In [1]:
import pandas as pd
file_url = 'https://github.com/PacktWorkshops/The-Data-Science-Workshop/blob/master/Chapter12/Dataset/Online%20Retail.xlsx?raw=true'
df = pd.read_excel(file_url)
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [0]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [3]:
df['InvoiceDate'].dt.year

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
541904    2011
541905    2011
541906    2011
541907    2011
541908    2011
Name: InvoiceDate, Length: 541909, dtype: int64

In [4]:
df['InvoiceDate'].dt.dayofweek

0         2
1         2
2         2
3         2
4         2
         ..
541904    4
541905    4
541906    4
541907    4
541908    4
Name: InvoiceDate, Length: 541909, dtype: int64

In [5]:
df['InvoiceDate'] + pd.tseries.offsets.Day(3)

0        2010-12-04 08:26:00
1        2010-12-04 08:26:00
2        2010-12-04 08:26:00
3        2010-12-04 08:26:00
4        2010-12-04 08:26:00
                 ...
541904   2011-12-12 12:50:00
541905   2011-12-12 12:50:00
541906   2011-12-12 12:50:00
541907   2011-12-12 12:50:00
541908   2011-12-12 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [6]:
df['InvoiceDate'] + pd.tseries.offsets.BusinessDay(-1)

0        2010-11-30 08:26:00
1        2010-11-30 08:26:00
2        2010-11-30 08:26:00
3        2010-11-30 08:26:00
4        2010-11-30 08:26:00
                 ...
541904   2011-12-08 12:50:00
541905   2011-12-08 12:50:00
541906   2011-12-08 12:50:00
541907   2011-12-08 12:50:00
541908   2011-12-08 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [7]:
df['InvoiceDate'] + pd.Timedelta(1, unit='MS')

0        2010-12-01 08:26:00.001
1        2010-12-01 08:26:00.001
2        2010-12-01 08:26:00.001
3        2010-12-01 08:26:00.001
4        2010-12-01 08:26:00.001
                   ...
541904   2011-12-09 12:50:00.001
541905   2011-12-09 12:50:00.001
541906   2011-12-09 12:50:00.001
541907   2011-12-09 12:50:00.001
541908   2011-12-09 12:50:00.001
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]