<a href="https://colab.research.google.com/github/sadullahmath/Exercise/blob/master/Handling_Duplicates_in_a_Breast_Cancer_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Duplicates in a Breast Cancer Dataset

In [0]:
import pandas as pd

In [0]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter11/dataset/breast-cancer-wisconsin.data'

In [0]:
df = pd.read_csv(file_url, header=None)

In [0]:
col_names = ['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size',
'Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']

In [0]:
df.columns = col_names

In [6]:
df.shape

(699, 11)

In [7]:
df.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [8]:
df.duplicated().sum()

8

In [9]:
df.loc[df.duplicated()]

     Sample code number  Clump Thickness  ...  Mitoses  Class
208             1218860                1  ...        1      2
253             1100524                6  ...        3      4
254             1116116                9  ...        1      4
258             1198641                3  ...        1      2
272              320675                3  ...        1      4
338              704097                1  ...        1      2
561             1321942                5  ...        1      2
684              466906                1  ...        1      2

[8 rows x 11 columns]

In [10]:
df.loc[df.duplicated(keep='last')]

     Sample code number  Clump Thickness  ...  Mitoses  Class
42              1100524                6  ...        3      4
62              1116116                9  ...        1      4
168             1198641                3  ...        1      2
207             1218860                1  ...        1      2
267              320675                3  ...        1      4
314              704097                1  ...        1      2
560             1321942                5  ...        1      2
683              466906                1  ...        1      2

[8 rows x 11 columns]

In [0]:
df_unique = df.drop_duplicates(keep='first')

In [12]:
df_unique.shape

(691, 11)