<a href="https://colab.research.google.com/github/sadullahmath/Exercise/blob/master/Loading%2C_Exploring%2C_and_Cleaning_the_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading, Exploring, and Cleaning the Data

In [0]:
import pandas as pd

In [0]:
#Loading data from the GitHub repository to colab notebook
filename = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter15/Dataset/crx.data '

In [10]:
credData = pd.read_csv(filename,sep= ",",header = None,na_values = "? ")
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [11]:
# Changing the Classes to 1 & 0
credData.loc[credData[15]=='+', 15] = 1
credData.loc[credData[15]=='-', 15] = 0
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  1
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  1
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  1
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  1
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  1

In [12]:
# Finding number of null values in the data set
credData.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [13]:
# Printing Shape and data types
print( 'Shape of raw data set ',credData.shape)
print( 'Data types of data set ',credData.dtypes)

Shape of raw data set  (690, 16)
Data types of data set  0      object
1      object
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13     object
14      int64
15     object
dtype: object

In [14]:
# Dropping all the rows with na values
newcred = credData.dropna(axis = 0)
newcred.shape

(690, 16)

In [15]:
# Verifying no null values exist
newcred.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [0]:
# Separating the categorical variables to make dummy variables
credCat = pd.get_dummies(newcred[[0,3,4,5,6,8,9,11,12]])

In [0]:
# Separating the numerical variables
credNum = newcred[[1,2,7,10,13,14]]

In [18]:
# Making the X variable which is a concatenation of categorical and numerical data

X = pd.concat([credCat,credNum],axis = 1)
print(X.shape)

# Separating the label as y variable
y = newcred[15]
print(y.shape)

(690, 51)
(690,)

In [19]:
# Normalizing the data sets
# Import library function
from sklearn import preprocessing
# Creating the scaling function
minmaxScaler = preprocessing.MinMaxScaler()
# Transforming with the scaler function
X_tran = pd.DataFrame(minmaxScaler.fit_transform(X))

ValueError: ignored

In [20]:
from sklearn.model_selection import train_test_split
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_tran, y, test_size=0.3, random_state=123)

NameError: ignored