<a href="https://colab.research.google.com/github/sadullahmath/Exercise/blob/master/Train3Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Train Three Different Models and Use Evaluation Metrics to Pick the Best Performing Model

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter06/Dataset/bank-additional-full.csv', sep=';')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [4]:
df.head()

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 21 columns]

In [6]:
# Convert categorical variables using pd.get_dummies():
cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
_df = pd.get_dummies(df, columns=cat_cols, prefix=cat_cols, drop_first=True)
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   duration                       41188 non-null  int64
 2   campaign                       41188 non-null  int64
 3   pdays                          41188 non-null  int64
 4   previous                       41188 non-null  int64
 5   emp.var.rate                   41188 non-null  float64
 6   cons.price.idx                 41188 non-null  float64
 7   cons.conf.idx                  41188 non-null  float64
 8   euribor3m                      41188 non-null  float64
 9   nr.employed                    41188 non-null  float64
 10  y                              41188 non-null  object
 11  job_blue-collar                41188 non-null  uint8
 12  job_entrepreneur               41188 non-null  uint8
 13  job_housemaid                  41188 non-null  uint8
 14  job_management                 41188 non-null  uint8
 15  job_retired                    41188 non-null  uint8
 16  job_self-employed              41188 non-null  uint8
 17  job_services                   41188 non-null  uint8
 18  job_student                    41188 non-null  uint8
 19  job_technician                 41188 non-null  uint8
 20  job_unemployed                 41188 non-null  uint8
 21  job_unknown                    41188 non-null  uint8
 22  marital_married                41188 non-null  uint8
 23  marital_single                 41188 non-null  uint8
 24  marital_unknown                41188 non-null  uint8
 25  education_basic.6y             41188 non-null  uint8
 26  education_basic.9y             41188 non-null  uint8
 27  education_high.school          41188 non-null  uint8
 28  education_illiterate           41188 non-null  uint8
 29  education_professional.course  41188 non-null  uint8
 30  education_university.degree    41188 non-null  uint8
 31  education_unknown              41188 non-null  uint8
 32  default_unknown                41188 non-null  uint8
 33  default_yes                    41188 non-null  uint8
 34  housing_unknown                41188 non-null  uint8
 35  housing_yes                    41188 non-null  uint8
 36  loan_unknown                   41188 non-null  uint8
 37  loan_yes                       41188 non-null  uint8
 38  contact_telephone              41188 non-null  uint8
 39  month_aug                      41188 non-null  uint8
 40  month_dec                      41188 non-null  uint8
 41  month_jul                      41188 non-null  uint8
 42  month_jun                      41188 non-null  uint8
 43  month_mar                      41188 non-null  uint8
 44  month_may                      41188 non-null  uint8
 45  month_nov                      41188 non-null  uint8
 46  month_oct                      41188 non-null  uint8
 47  month_sep                      41188 non-null  uint8
 48  day_of_week_mon                41188 non-null  uint8
 49  day_of_week_thu                41188 non-null  uint8
 50  day_of_week_tue                41188 non-null  uint8
 51  day_of_week_wed                41188 non-null  uint8
 52  poutcome_nonexistent           41188 non-null  uint8
 53  poutcome_success               41188 non-null  uint8
dtypes: float64(5), int64(5), object(1), uint8(43)
memory usage: 5.1+ MB

In [9]:
_df.head()

   age  duration  ...  poutcome_nonexistent  poutcome_success
0   56       261  ...                     1                 0
1   57       149  ...                     1                 0
2   37       226  ...                     1                 0
3   40       151  ...                     1                 0
4   56       307  ...                     1                 0

[5 rows x 54 columns]

In [0]:
X = _df.drop(['y'], axis=1)
X = X.values
y = df['y'].apply(lambda x: 0 if x == 'no' else 1)
y = y.values

In [0]:
train_X, eval_X, train_y, eval_y = train_test_split(X, y, test_size=0.3, random_state=0)
val_X, test_X, val_y, test_y = train_test_split(eval_X, eval_y, random_state=0)

In [0]:
lr_model = LogisticRegression()

In [13]:
lr_model.fit(train_X, train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
lr_preds = lr_model.predict(val_X)

In [15]:
lr_report = classification_report(val_y, lr_preds)
print(lr_report)

              precision    recall  f1-score   support

           0       0.93      0.98      0.95      8220
           1       0.67      0.40      0.50      1047

    accuracy                           0.91      9267
   macro avg       0.80      0.69      0.72      9267
weighted avg       0.90      0.91      0.90      9267

In [0]:
dt_model = DecisionTreeClassifier(max_depth= 6)

In [17]:
dt_model.fit(train_X, train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
dt_preds = dt_model.predict(val_X)

In [19]:
dt_report = classification_report(val_y, dt_preds)
print(dt_report)

              precision    recall  f1-score   support

           0       0.94      0.96      0.95      8220
           1       0.66      0.54      0.60      1047

    accuracy                           0.92      9267
   macro avg       0.80      0.75      0.78      9267
weighted avg       0.91      0.92      0.91      9267

In [0]:
rf_model = RandomForestClassifier(n_estimators=1000)

In [21]:
rf_model.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
rf_preds = rf_model.predict(val_X)

In [23]:
rf_report = classification_report(val_y, rf_preds)
print(rf_report)

              precision    recall  f1-score   support

           0       0.94      0.97      0.95      8220
           1       0.68      0.47      0.56      1047

    accuracy                           0.91      9267
   macro avg       0.81      0.72      0.76      9267
weighted avg       0.91      0.91      0.91      9267

In [24]:
print('Linear Score: {}, DecisionTree Score: {}, RandomForest Score: {}'.format(lr_model.score(val_X, val_y), dt_model.score(val_X, val_y), rf_model.score(val_X, val_y)))

Linear Score: 0.9100032372936225, DecisionTree Score: 0.9172331930506097, RandomForest Score: 0.9149670875148376