<a href="https://colab.research.google.com/github/sadullahmath/Exercise/blob/master/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Training a Logistic Regression Model Using Cross-Validation

In [0]:
# import libraries
import pandas as pd

In [0]:
# data doesn't have headers, so let's create headers
_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']

In [0]:
# read in cars dataset
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', names=_headers, index_col=None)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
# encode categorical variables
_df = pd.get_dummies(df, columns=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
_df.head()

     car  buying_high  buying_low  ...  safety_high  safety_low  safety_med
0  unacc            0           0  ...            0           1           0
1  unacc            0           0  ...            0           0           1
2  unacc            0           0  ...            1           0           0
3  unacc            0           0  ...            0           1           0
4  unacc            0           0  ...            0           0           1

[5 rows x 22 columns]

In [0]:
# separate features and labels DataFrames
features = _df.drop(['car'], axis=1).values
labels = _df[['car']].values

In [0]:
from sklearn.linear_model import LogisticRegressionCV

In [0]:
model = LogisticRegressionCV(max_iter=2000, multi_class='auto', cv=5)

In [9]:
model.fit(features, labels.ravel())

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=2000, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [10]:
print(model.score(features, labels.ravel()))

0.9456018518518519